@import "_variables";
@import "_share";
@import "_media";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    text-decoration: none;
}
body {
    background: #cfd8dd;
}

.container-main {
    border-radius: 40px;
    background: white;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    .header {
        display: flex;
        justify-content: space-evenly;
        align-content: center;

        .title-and-link {
            display: flex;
            align-items: center;
            .logo span {
                font-size: 40px;
                color: $primary-color;
                font-weight: bold;
            }
            .links {
                .active {
                    border-bottom: 5px solid $primary-color;
                    color: $primary-color;
                }
                display: flex;
                a {
                    color: $link-color;
                    margin: 0 30px;
                    font-size: 16px;
                }
            }
        }
        .log-in-up {
            padding: 15px;
        }
    }
    .landPage {
        margin-top: 8px;

        background-image: url("https://r-fa.bstatic.com/xdata/images/xphoto/1920x810/55796843.jpg?k=ed50de77fd78c350b76cfa6eee8ab74310e237c0c1161a9522e48e5e4383e63e&o=");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 500px;

        display: flex;
        align-items: center;
        justify-content: center;
        .land-title {
            h2 {
                text-align: center;
                font-size: 55px;
                color: white;
                margin-bottom: 24px;
            }
            .land-info {
                background-color: white;
                display: flex;
                padding: 10px;

                .check-ini {
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
                    margin: 0 20px;
                    .tittle {
                        font-size: 12px;
                        margin-bottom: 8px;
                        text-transform: uppercase;
                    }
                    .content {
                        font-weight: bold;
                        font-size: 16px;
                    }
                }
                .verificar {
                    align-self: center;
                    padding: 10px 30px;
                    border-radius: 1px;
                }
            }
        }
    }
    .nuestros-cuartos {
        color: $primary-color;
        font-size: 45px;
        margin: 40px 0;
        font-weight: normal;
        text-align: center;
    }
    .rooms-cards {
        padding: 0 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        .card {
            transition: 0.3s ease all;
            &:hover {
                box-shadow: 4px 9px 5px 0px rgba(36, 33, 21, 1);
            }
            box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
            img {
                width: 100%;
                height: 200px;
            }

            .card-info {
                display: flex;
                justify-content: space-between;
                background: $card-background;
                padding: 20px;

                .title-price {
                    h2 {
                        margin-bottom: 5px;
                        color: #444444;
                        font-size: 16px;
                    }
                    span {
                        color: #a8a8a8;
                        font-size: 14px;
                    }
                }
                .ver-detalles {
                    color: $primary-color;
                    font-weight: bold;
                    text-transform: uppercase;
                    display: flex;
                    flex-direction: column-reverse;
                    cursor: pointer;
                }
            }
        }
    }
    .info-services {
        margin: 30px 0;
        text-align: center;
        line-height: 30px;
    }
    .servicios {
        padding: 0 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        img {
            width: 100%;
            height: 250px;
        }
    }
    .footer {
        background: #465a65;
        display: flex;
        justify-content: center;
        padding: 20px 0;
        .enlaces {
            margin: 0 30px;
            h3 {
                color: $primary-color;
            }
            ul li {
                list-style: none;
                color: white;
                margin: 15px 0;
                .fab,
                .fas {
                    color: white;
                    margin: 0 20px;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    body {
        background: white;
    }

    .container-main {
        border-radius: 0px;
        width: 100%;
        .header {
            padding: 20px;
            flex-direction: column;

            .title-and-link {
                flex-direction: column;
                margin: 20px 0;
                flex-wrap: wrap;
                .logo {
                    margin: 20px 0;
                }
            }
            .log-in-up {
                display: flex;
                justify-content: center;
            }
        }

        .rooms-cards {
            padding: 0 10px;
            grid-template-columns: repeat(2, 1fr);
        }
        .servicios {
            padding: 0 10px;
            grid-template-columns: repeat(2, 1fr);
        }

        .landPage {
            .land-title {
                h2 {
                    font-size: 25px;
                }
                .land-info {
                    display: none;
                }
            }
        }
        .nuestros-cuartos {
            font-size: 25px;
        }
    }
    .footer {
        font-size: 12px;
    }
}

@media only screen and (max-width: 360px) {
    .container-main {
        .header {
            .title-and-link {
                display: flex;
                .logo span {
                    font-size: 25px;
                    color: $primary-color;
                    font-weight: bold;
                }
                .links {
                    display: flex;
                    a {
                        color: $link-color;
                        margin: 0 15px;
                        font-size: 16px;
                    }
                }
            }
        }
        .rooms-cards {
            padding: 0 20px;
            grid-template-columns: 1fr;
        }
        .servicios {
            padding: 0 20px;
            grid-template-columns: 1fr;
        }
        .landPage {
            .land-title {
                h2 {
                    font-size: 25px;
                }
                .land-info {
                    display: none;
                }
            }
        }
        .nuestros-cuartos {
            font-size: 20px;
        }

        .nuestros-cuartos {
            margin: 20px 0;
            font-weight: normal;
            text-align: center;
        }
        .info-services {
            padding: 20px;
            margin: 0px 0;
            font-size: 14px;
            line-height: 20px;
        }

        .footer {
            flex-direction: column;
            .enlaces {
                margin: 0 30px;
                h3 {
                    font-size: 14px;
                }
                ul li {
                    list-style: none;
                    color: white;
                    margin: 15px 0;
                    .fab,
                    .fas {
                        color: white;
                        margin: 0px 10px 0px 0px;
                    }
                }
            }
        }
    }
}
